<div class="container">
    <h3>View Employee Details</h3>
    <div class="row">
        <div class="col-md-3">
            <label><b>ID :</b></label>{{employee.id}}
        </div>
        <div class="col-md-3">
            <label><b>First Name :</b></label>{{employee.firstname}}
        </div>
        <div class="col-md-3">
            <label><b>Last Name :</b></label>{{employee.lastname}}
        </div>
        <div class="col-md-3">
            <label><b>Email :</b></label>{{employee.email}}
        </div>
    </div>

    <a class="btn btn-primary text-light" [routerLink]="['/home/employees']">Return to list</a>
</div>